
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Productos</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/productos.css" rel="stylesheet">
  </head>
  <body>

<%- include('header.ejs') %>

<div class="container-fluid">
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Productos</h1>
    </div>
    <div class="container-inventario">
    
        <table class="table table-bordered table-hover table-sm">
            <thead class="text-white bg-dark shadow-sm">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Existencia</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Categoria ID</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                
                <% productos.forEach(producto => { %>
                <tr>
                    <td><%= producto.id %></td>
                    <td><%= producto.producto %></td>
                    <td><%= producto.codigo %></td>
                    <td><%= producto.precio %></td>
                    <td><%= producto.existencia_actual %></td>
                    <td><%= producto.categoria %></td>
                    <td><%= producto.categoria_id %></td>
                    <td>
                        <a href="/productos/editar/<%= producto.id %>">Editar</a>
                    </td>
                    <td>
                        <a href="/productos/eliminar/<%= producto.id %>">Borrar</a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <a href="/productos/add" class="ntn btn btn-primary mb-2">Agregar</a>
        <a href="/dashboard" class="btn btn-primary mb-2">Volver</a>
    </div>
  </main>
  <%- include('sidebar.ejs', {activo: "productos"}); %>

</body>
<script src="/public/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
